body{
    background-image: url(white_background.jpeg);
    background-repeat: repeat-y;
    background-size: 100%;
}

.card-img-top {
    width: auto;
}

.portfolio-img{
    width: auto;
}

.portfolio-img:hover{
    opacity:0.3;
}

.blocktext{
    height: 35em;
    position: relative;
}
.blocktext p{
    font-size: 150%;
    margin:0;
    position:absolute;
    top:50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.center-contact{
    text-align: center;
}
