.btn-outline-github {
    color: #28a745;
    background-color: #f8f9fa;
    background-image: none;
    border-color: #28a745;
}

.btn-outline-linkedin {
    color: #007bff;
    background-color: #f8f9fa;
    background-image: none;
    border-color: #007bff;
}