body{
    background-image: url(background_plain.png);
    background-repeat: repeat;
    background-size: 100%;
}
.chicago-skyline{
    background-color: #edeaed;
    border: none;
}

.about-me-picture{
    width: 400px;
    border-radius: 500px;
    margin-right: -50%;
}
.about-info{
    height: auto;
    position: relative;
}

.about-info p{
    margin:0;
    position:absolute;
    top:50%;
    transform: translate(0, -50%);
}

.card-img-top {
    width: 300px;
}
.bigger{
    font-size: 170%;
}
.portfolio-img{
    width: auto;
}

.portfolio-img:hover{
    opacity:0.3;
}

.blocktext{
    height: 50em;
    position: relative;
}
.blocktext p{
    font-size: 150%;
    margin:0;
    position:absolute;
    top:50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.center-contact{
    text-align: center;
}

.trial{
    margin-left: 50px;
    margin-right: 50px;
}